<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
   <extension point="org.eclipse.emf.ecore.uri_mapping">
      <mapping source="pathmap://NIEM_UML/" target="platform:/plugin/org.search.niem.uml.resources/src/main/resources/">
      </mapping>
   </extension>
   <extension point="org.eclipse.emf.ecore.uri_mapping">
      <mapping source="http://www.omg.org/spec/NIEM-UML/20120501/XmlPrimitiveTypes" target="pathmap://NIEM_UML/XmlPrimitiveTypes.xmi">
      </mapping>
   </extension>
   <extension point="org.eclipse.emf.ecore.uri_mapping">
      <mapping source="http://www.omg.org/spec/NIEM-UML/20120501/NIEM_UML_Profile" target="pathmap://NIEM_UML/NIEM-UML-Profile.xmi">
      </mapping>
   </extension>
   <extension point="org.eclipse.emf.ecore.uri_mapping">
      <mapping source="http://www.omg.org/spec/NIEM-UML/20120501/NIEM_Common_Profile" target="pathmap://NIEM_UML/NIEM-UML-Profile.xmi#NIEM_UML_Profile-NIEM_Common_Profile">
      </mapping>
   </extension>
   <extension point="org.eclipse.emf.ecore.uri_mapping">
      <mapping source="http://www.omg.org/spec/NIEM-UML/20120501/Model_Package_Description_Profile" target="pathmap://NIEM_UML/NIEM-UML-Profile.xmi#NIEM_UML_Profile-Model_Package_Description_Profile">
      </mapping>
   </extension>
   <extension point="org.eclipse.emf.ecore.uri_mapping">
      <mapping source="http://www.omg.org/spec/NIEM-UML/20120501/NIEM_PSM_Profile" target="pathmap://NIEM_UML/NIEM-UML-Profile.xmi#NIEM_UML_Profile-NIEM_PSM_Profile">
      </mapping>
   </extension>
   <extension point="org.eclipse.emf.ecore.uri_mapping">
      <mapping source="http://www.omg.org/spec/NIEM-UML/20120501/NIEM_PIM_Profile" target="pathmap://NIEM_UML/NIEM-UML-Profile.xmi#NIEM_UML_Profile-NIEM_PIM_Profile">
      </mapping>
   </extension>
   <extension point="org.eclipse.emf.ecore.uri_mapping">
      <mapping source="http://www.omg.org/spec/NIEM-UML/20120501/NIEM_UML_Profile" target="pathmap://NIEM_UML/NIEM-UML-Profile.xmi#NIEM_UML_Profile-NIEM_UML_Profile">
      </mapping>
   </extension>
   <extension point="org.eclipse.uml2.uml.dynamic_package">
      <profile location="pathmap://NIEM_UML/NIEM-UML-Profile.xmi#NIEM_UML_Profile-NIEM_Common_Profile" uri="http://www.omg.org/spec/NIEM-UML/20120501/NIEM_Common_Profile">
      </profile>
   </extension>
   <extension point="org.eclipse.uml2.uml.dynamic_package">
      <profile location="pathmap://NIEM_UML/NIEM-UML-Profile.xmi#NIEM_UML_Profile-Model_Package_Description_Profile" uri="http://www.omg.org/spec/NIEM-UML/20120501/Model_Package_Description_Profile">
      </profile>
   </extension>
   <extension point="org.eclipse.uml2.uml.dynamic_package">
      <profile location="pathmap://NIEM_UML/NIEM-UML-Profile.xmi#NIEM_UML_Profile-NIEM_PSM_Profile" uri="http://www.omg.org/spec/NIEM-UML/20120501/NIEM_PSM_Profile">
      </profile>
   </extension>
   <extension point="org.eclipse.uml2.uml.dynamic_package">
      <profile location="pathmap://NIEM_UML/NIEM-UML-Profile.xmi#NIEM_UML_Profile-NIEM_PIM_Profile" uri="http://www.omg.org/spec/NIEM-UML/20120501/NIEM_PIM_Profile">
      </profile>
   </extension>
   <extension point="org.eclipse.uml2.uml.dynamic_package">
      <profile location="pathmap://NIEM_UML/NIEM-UML-Profile.xmi#NIEM_UML_Profile-NIEM_UML_Profile" uri="http://www.omg.org/spec/NIEM-UML/20120501">
      </profile>
   </extension>
</plugin>
