<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.search.niem.uml.qvt.ui.propertyTesters.ShouldShowIndividualTransforms"
            id="org.search.niem.uml.qvt.ui.propertyTesters.shouldShowIndividualTransforms"
            namespace="org.search.niem.uml.qvt.ui.propertyTesters"
            properties="shouldShowIndividualTransforms"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.search.niem.uml.qvt.ui.propertyTesters.ShouldShowGenerateMPD"
            id="org.search.niem.uml.qvt.ui.propertyTesters.shouldShowGenerateMPD"
            namespace="org.search.niem.uml.qvt.ui.propertyTesters"
            properties="shouldShowGenerateMPD"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.search.niem.uml.qvt.ui.propertyTesters.IsInProjectRoot"
            id="org.search.niem.uml.qvt.ui.propertyTesters.isInProjectRoot"
            namespace="org.search.niem.uml.qvt.ui.propertyTesters"
            properties="isInProjectRoot"
            type="org.eclipse.core.resources.IFile">
      </propertyTester>
   </extension>
   <extension point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.search.niem.uml.ui.test.is_uml">
         <adapt
               type="org.eclipse.core.resources.IResource">
            <or>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.eclipse.uml2">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.eclipse.uml2.uml">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.eclipse.uml2.uml_2_0_0">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.eclipse.uml2.uml_2_1_0">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.eclipse.uml2.uml_3_0_0">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.eclipse.uml2.uml_4_0_0">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.omg.uml">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.omg.uml_2_1">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.omg.uml_2_1_1">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.omg.uml_2_2">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.omg.uml_2_4">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.omg.uml_2_4_1">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.omg.mof.cmof">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.omg.mof.cmof_2_0">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.omg.mof.cmof_2_4">
               </test>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.omg.mof.cmof_2_4_1">
               </test>
            </or>
         </adapt>
      </definition>
      <definition id="org.search.niem.uml.ui.test.is_single_uml_file">
         <and>
            <count
                  value="1">
            </count>
            <with variable="selection">
               <iterate>
                  <reference definitionId="org.search.niem.uml.ui.test.is_uml"/>
               </iterate>
            </with>
         </and>
      </definition>
      <definition
            id="org.search.niem.uml.ui.test.is_niem_perspective_active">
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="org.search.niem.uml.perspective">
            </equals>
         </with>
      </definition>
   </extension>
   <extension point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.search.niem.mpd.test.is_mpd_catalog">
         <adapt
               type="org.eclipse.core.resources.IResource">
            <test
               property="org.eclipse.core.resources.contentTypeId"
               value="org.search.niem.mpd.catalog">
            </test>
         </adapt>
      </definition>
      <definition id="org.search.niem.mpd.test.is_single_mpd_catalog_file">
         <and>
            <count
                  value="1">
            </count>
            <with variable="selection">
               <iterate>
                  <and>
                      <not>
                          <test
                               property="org.search.niem.uml.qvt.ui.propertyTesters.isInProjectRoot">
                          </test>
                      </not>
                      <reference definitionId="org.search.niem.mpd.test.is_mpd_catalog"/>
                  </and>
               </iterate>
            </with>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.search.niem.uml.qvt.ui.test.should_show_individual_transforms">
         <test
               forcePluginActivation="true"
               property="org.search.niem.uml.qvt.ui.propertyTesters.shouldShowIndividualTransforms">
         </test>
      </definition>
      <definition
            id="org.search.niem.uml.qvt.ui.test.should_show_generate_mpd">
         <test
               forcePluginActivation="true"
               property="org.search.niem.uml.qvt.ui.propertyTesters.shouldShowGenerateMPD">
         </test>
      </definition>
      <definition
            id="org.search.niem.uml.qvt.ui.test.is_niem_qvt_transform_menu_item">
         <or>
           <reference
                 definitionId="org.search.niem.uml.ui.test.is_niem_perspective_active">
           </reference>
           <reference
                 definitionId="org.search.niem.uml.ui.test.is_single_uml_file">
           </reference>
         </or>
      </definition>
      <definition
            id="org.search.niem.uml.qvt.ui.test.should_show_individual_transform_menu_item">
         <and>
            <reference
                  definitionId="org.search.niem.uml.qvt.ui.test.should_show_individual_transforms">
            </reference>
            <reference
                  definitionId="org.search.niem.uml.qvt.ui.test.is_niem_qvt_transform_menu_item">
            </reference>
         </and>
      </definition>
      <definition
            id="org.search.niem.uml.qvt.ui.test.should_show_generate_mpd_menu_item">
         <and>
            <reference
                  definitionId="org.search.niem.uml.qvt.ui.test.should_show_generate_mpd">
            </reference>
            <reference
                  definitionId="org.search.niem.uml.qvt.ui.test.is_niem_qvt_transform_menu_item">
            </reference>
         </and>
      </definition>
      <definition
            id="org.search.niem.uml.qvt.ui.test.is_niem_mpd_catalog_menu_item">
         <or>
           <reference
                 definitionId="org.search.niem.uml.ui.test.is_niem_perspective_active">
           </reference>
           <reference
                 definitionId="org.search.niem.mpd.test.is_single_mpd_catalog_file">
           </reference>
         </or>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%_UI_NIEM_UML_Command_Category_description"
            id="org.search.niem.uml.qvt.ui.commands.category"
            name="%_UI_NIEM_UML_Command_Category_label">
      </category>
      <command
            categoryId="org.search.niem.uml.qvt.ui.commands.category"
            description="%_UI_NIEMpim2psm_Command_description"
            id="org.search.niem.uml.qvt.ui.commands.NIEMpim2psm"
            name="%_UI_NIEMpim2psm_Command_name">
      </command>
      <command
            categoryId="org.search.niem.uml.qvt.ui.commands.category"
            description="%_UI_NIEMpsm2xsd_Command_description"
            id="org.search.niem.uml.qvt.ui.commands.NIEMpsm2xsd"
            name="%_UI_NIEMpsm2xsd_Command_name">
      </command>
      <command
            categoryId="org.search.niem.uml.qvt.ui.commands.category"
            description="%_UI_NIEMmpdmodel2artifact_Command_description"
            id="org.search.niem.uml.qvt.ui.commands.NIEMmpdmodel2artifact"
            name="%_UI_NIEMmpdmodel2artifact_Command_name">
      </command>
      <command
            categoryId="org.search.niem.uml.qvt.ui.commands.category"
            description="%_UI_NIEMmpdartifact2model_Command_description"
            id="org.search.niem.uml.qvt.ui.commands.NIEMmpdartifact2model"
            name="%_UI_NIEMmpdartifact2model_Command_name">
      </command>
      <command
            categoryId="org.search.niem.uml.qvt.ui.commands.category"
            description="%_UI_NIEMpim2mpd_Command_description"
            id="org.search.niem.uml.qvt.ui.commands.NIEMpim2mpd"
            name="%_UI_NIEMpim2mpd_Command_name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.search.niem.uml.qvt.ui.handlers.NIEMpim2psm"
            commandId="org.search.niem.uml.qvt.ui.commands.NIEMpim2psm">
      </handler>
      <handler
            class="org.search.niem.uml.qvt.ui.handlers.NIEMpsm2xsd"
            commandId="org.search.niem.uml.qvt.ui.commands.NIEMpsm2xsd">
      </handler>
      <handler
            class="org.search.niem.uml.qvt.ui.handlers.NIEMmpdmodel2artifact"
            commandId="org.search.niem.uml.qvt.ui.commands.NIEMmpdmodel2artifact">
      </handler>
      <handler
            class="org.search.niem.uml.qvt.ui.handlers.NIEMmpdartifact2model"
            commandId="org.search.niem.uml.qvt.ui.commands.NIEMmpdartifact2model">
      </handler>
      <handler
            class="org.search.niem.uml.qvt.ui.handlers.NIEMpim2mpd"
            commandId="org.search.niem.uml.qvt.ui.commands.NIEMpim2mpd">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.search.niem.uml.qvt.ui.commands.NIEMpim2psm"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+U P">
      </key>
      <key
            commandId="org.search.niem.uml.qvt.ui.commands.NIEMpsm2xsd"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+U X">
      </key>
      <key
            commandId="org.search.niem.uml.qvt.ui.commands.NIEMmpdmodel2artifact"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+U M">
      </key>
      <key
            commandId="org.search.niem.uml.qvt.ui.commands.NIEMmpdartifact2model"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+U A">
      </key>
      <key
            commandId="org.search.niem.uml.qvt.ui.commands.NIEMpim2mpd"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+U G">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               icon="icons/full/eview16/niem_menu.png"
               id="org.search.niem.uml.qvt.ui.menu"
               label="%_UI_NIEM_UML_Command_Category_label"
               mnemonic="N"
               tooltip="%_UI_NIEM_UML_Command_Category_description">
            <command
                  commandId="org.search.niem.uml.qvt.ui.commands.NIEMpim2psm"
                  disabledIcon="icons/full/obj16/niem_pim2psm_disabled.png"
                  icon="icons/full/obj16/niem_pim2psm.png"
                  id="org.search.niem.uml.qvt.ui.menu.NIEMpim2psm"
                  label="%_UI_NIEMpim2psm_Command_name"
                  mnemonic="p"
                  tooltip="%_UI_NIEMpim2psm_Command_description">
               <visibleWhen
                     checkEnabled="false">
                   <reference
                         definitionId="org.search.niem.uml.qvt.ui.test.should_show_individual_transform_menu_item">
                   </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.search.niem.uml.qvt.ui.commands.NIEMpsm2xsd"
                  disabledIcon="icons/full/obj16/niem_psm2xsd_disabled.png"
                  icon="icons/full/obj16/niem_psm2xsd.png"
                  id="org.search.niem.uml.qvt.ui.menu.NIEMpsm2xsd"
                  label="%_UI_NIEMpsm2xsd_Command_name"
                  mnemonic="x"
                  tooltip="%_UI_NIEMpsm2xsd_Command_description">
               <visibleWhen
                     checkEnabled="false">
                   <reference
                         definitionId="org.search.niem.uml.qvt.ui.test.should_show_individual_transform_menu_item">
                   </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.search.niem.uml.qvt.ui.commands.NIEMmpdmodel2artifact"
                  disabledIcon="icons/full/obj16/niem_mpdmodel2artifact_disabled.png"
                  icon="icons/full/obj16/niem_mpdmodel2artifact.png"
                  id="org.search.niem.uml.qvt.ui.menu.NIEMmpdmodel2artifact"
                  label="%_UI_NIEMmpdmodel2artifact_Command_name"
                  mnemonic="m"
                  tooltip="%_UI_NIEMmpdmodel2artifact_Command_description">
               <visibleWhen
                     checkEnabled="false">
                   <reference
                         definitionId="org.search.niem.uml.qvt.ui.test.should_show_individual_transform_menu_item">
                   </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.search.niem.uml.qvt.ui.commands.NIEMpim2mpd"
                  disabledIcon="icons/full/obj16/niem_pim2mpd_disabled.png"
                  icon="icons/full/obj16/niem_pim2mpd.png"
                  id="org.search.niem.uml.qvt.ui.menu.NIEMpim2mpd"
                  label="%_UI_NIEMpim2mpd_Command_name"
                  mnemonic="g"
                  tooltip="%_UI_NIEMpim2mpd_Command_description">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.search.niem.uml.qvt.ui.test.should_show_generate_mpd_menu_item">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.search.niem.uml.qvt.ui.commands.NIEMmpdartifact2model"
                  disabledIcon="icons/full/obj16/niem_mpdartifact2model_disabled.png"
                  icon="icons/full/obj16/niem_mpdartifact2model.png"
                  id="org.search.niem.uml.qvt.ui.menu.NIEMmpdartifact2model"
                  label="%_UI_NIEMmpdartifact2model_Command_name"
                  mnemonic="a"
                  tooltip="%_UI_NIEMmpdartifact2model_Command_description">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.search.niem.uml.qvt.ui.test.is_niem_mpd_catalog_menu_item">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.search.niem.uml.qvt.ui.toolbar"
               label="%_UI_NIEM_UML_Command_Category_label">
            <command
                  commandId="org.search.niem.uml.qvt.ui.commands.NIEMpim2psm"
                  disabledIcon="icons/full/obj16/niem_pim2psm_disabled.png"
                  icon="icons/full/obj16/niem_pim2psm.png"
                  id="org.search.niem.uml.qvt.ui.toolbar.NIEMpim2psm"
                  label="%_UI_NIEMpim2psm_Command_name"
                  mnemonic="p"
                  tooltip="%_UI_NIEMpim2psm_Command_description">
               <visibleWhen
                     checkEnabled="false">
                  <reference definitionId="org.search.niem.uml.ui.test.is_single_uml_file"/>
               </visibleWhen>
            </command>
            <command
                  commandId="org.search.niem.uml.qvt.ui.commands.NIEMpsm2xsd"
                  disabledIcon="icons/full/obj16/niem_psm2xsd_disabled.png"
                  icon="icons/full/obj16/niem_psm2xsd.png"
                  id="org.search.niem.uml.qvt.ui.toolbar.NIEMpsm2xsd"
                  label="%_UI_NIEMpsm2xsd_Command_name"
                  mnemonic="x"
                  tooltip="%_UI_NIEMpsm2xsd_Command_description">
               <visibleWhen
                     checkEnabled="false">
                  <reference definitionId="org.search.niem.uml.ui.test.is_single_uml_file"/>
               </visibleWhen>
            </command>
            <command
                  commandId="org.search.niem.uml.qvt.ui.commands.NIEMmpdmodel2artifact"
                  disabledIcon="icons/full/obj16/niem_mpdmodel2artifact_disabled.png"
                  icon="icons/full/obj16/niem_mpdmodel2artifact.png"
                  id="org.search.niem.uml.qvt.ui.toolbar.NIEMmpdmodel2artifact"
                  label="%_UI_NIEMmpdmodel2artifact_Command_name"
                  mnemonic="m"
                  tooltip="%_UI_NIEMmpdmodel2artifact_Command_description">
               <visibleWhen
                     checkEnabled="false">
                  <reference definitionId="org.search.niem.uml.ui.test.is_single_uml_file"/>
               </visibleWhen>
            </command>
            <command
                  commandId="org.search.niem.uml.qvt.ui.commands.NIEMpim2mpd"
                  disabledIcon="icons/full/obj16/niem_pim2mpd_disabled.png"
                  icon="icons/full/obj16/niem_pim2mpd.png"
                  id="org.search.niem.uml.qvt.ui.toolbar.NIEMpim2mpd"
                  label="%_UI_NIEMpim2mpd_Command_name"
                  mnemonic="g"
                  tooltip="%_UI_NIEMpim2mpd_Command_description">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.search.niem.uml.ui.test.is_single_uml_file">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="org.search.niem.uml.qvt.ui.commands.NIEMmpdartifact2model"
                  disabledIcon="icons/full/obj16/niem_mpdartifact2model_disabled.png"
                  icon="icons/full/obj16/niem_mpdartifact2model.png"
                  id="org.search.niem.uml.qvt.ui.toolbar.NIEMmpdartifact2model"
                  label="%_UI_NIEMmpdartifact2model_Command_name"
                  mnemonic="a"
                  tooltip="%_UI_NIEMmpdartifact2model_Command_description">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.search.niem.mpd.test.is_single_mpd_catalog_file">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.search.niem.uml.qvt.ui.commands.NIEMpim2psm"
               disabledIcon="icons/full/obj16/niem_pim2psm_disabled.png"
               icon="icons/full/obj16/niem_pim2psm.png"
               id="org.search.niem.uml.qvt.ui.popup.NIEMpim2psm"
               label="%_UI_NIEMpim2psm_Command_name"
               mnemonic="p"
               style="push"
               tooltip="%_UI_NIEMpim2psm_Command_description">
            <visibleWhen
                  checkEnabled="false">
               <reference definitionId="org.search.niem.uml.ui.test.is_single_uml_file"/>
            </visibleWhen>
         </command>
         <command
               commandId="org.search.niem.uml.qvt.ui.commands.NIEMpsm2xsd"
               disabledIcon="icons/full/obj16/niem_psm2xsd_disabled.png"
               icon="icons/full/obj16/niem_psm2xsd.png"
               id="org.search.niem.uml.qvt.ui.popup.NIEMpsm2xsd"
               label="%_UI_NIEMpsm2xsd_Command_name"
               mnemonic="x"
               style="push"
               tooltip="%_UI_NIEMpsm2xsd_Command_description">
            <visibleWhen
                  checkEnabled="false">
               <reference definitionId="org.search.niem.uml.ui.test.is_single_uml_file"/>
            </visibleWhen>
         </command>
         <command
               commandId="org.search.niem.uml.qvt.ui.commands.NIEMmpdmodel2artifact"
               disabledIcon="icons/full/obj16/niem_mpdmodel2artifact_disabled.png"
               icon="icons/full/obj16/niem_mpdmodel2artifact.png"
               id="org.search.niem.uml.qvt.ui.popup.NIEMmpdmodel2artifact"
               label="%_UI_NIEMmpdmodel2artifact_Command_name"
               mnemonic="m"
               style="push"
               tooltip="%_UI_NIEMmpdmodel2artifact_Command_description">
            <visibleWhen
                  checkEnabled="false">
               <reference definitionId="org.search.niem.uml.ui.test.is_single_uml_file"/>
            </visibleWhen>
         </command>
         <command
               commandId="org.search.niem.uml.qvt.ui.commands.NIEMpim2mpd"
               disabledIcon="icons/full/obj16/niem_pim2mpd_disabled.png"
               icon="icons/full/obj16/niem_pim2mpd.png"
               id="org.search.niem.uml.qvt.ui.popup.NIEMpim2mpd"
               label="%_UI_NIEMpim2mpd_Command_name"
               mnemonic="g"
               style="push"
               tooltip="%_UI_NIEMpim2mpd_Command_description">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.search.niem.uml.ui.test.is_single_uml_file">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.search.niem.uml.qvt.ui.commands.NIEMmpdartifact2model"
               disabledIcon="icons/full/obj16/niem_mpdartifact2model_disabled.png"
               icon="icons/full/obj16/niem_mpdartifact2model.png"
               id="org.search.niem.uml.qvt.ui.popup.NIEMmpdartifact2model"
               label="%_UI_NIEMmpdartifact2model_Command_name"
               mnemonic="a"
               style="push"
               tooltip="%_UI_NIEMmpdartifact2model_Command_description">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.search.niem.mpd.test.is_single_mpd_catalog_file">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.search.niem.uml.qvt.ui._import.category"
            name="%importCategory">
      </category>
      <wizard
            category="org.search.niem.uml.qvt.ui._import.category"
            class="org.search.niem.uml.qvt.ui._import.ImportMPD"
            icon="icons/full/eview16/import_mpd.png"
            id="org.search.niem.uml.qvt.ui._import.ImportMPD"
            name="%importMPDWizardName">
         <description>
            %importMPDWizardDescription
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.search.niem.uml.qvt.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.search.niem.uml.ui.preferences.PreferencePage"
            class="org.search.niem.uml.qvt.ui.preferences.TransformsPreferencePage"
            id="org.search.niem.uml.qvt.ui.preferences.TransformsPreferencePage"
            name="%_UI_TransformsPreferences_name">
      </page>
      <page
            category="org.search.niem.uml.ui.preferences.PreferencePage"
            class="org.search.niem.uml.qvt.ui.preferences.MPDOutputPreferencePage"
            id="org.search.niem.uml.qvt.ui.preferences.MPDOutputPreferencePage"
            name="%_UI_MPDOutputPreferences_name">
      </page>
   </extension>
</plugin>
