<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.papyrus.extensionpoints.editors.DirectEditor">
       <DirectEditor
             contributor="org.search"
             icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Class.gif"
             language="NIEM Class Name Editor"
             objectToEdit="org.eclipse.uml2.uml.Class">
          <popupeditor
                editorConfiguration="org.search.niem.uml.papyrus.editors.ClassNamePopupEditorConfiguration">
          </popupeditor>
          <Priority
                name="Low">
          </Priority>
       </DirectEditor>
       <DirectEditor
             contributor="org.search"
             icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Enumeration.gif"
             language="NIEM Enumeration Name Editor"
             objectToEdit="org.eclipse.uml2.uml.Enumeration">
          <popupeditor
                editorConfiguration="org.search.niem.uml.papyrus.editors.EnumerationNamePopupEditorConfiguration">
          </popupeditor>
          <Priority
                name="Low">
          </Priority>
       </DirectEditor>
       <DirectEditor
             contributor="org.search"
             icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/PrimitiveType.gif"
             language="NIEM PrimitiveType Name Editor"
             objectToEdit="org.eclipse.uml2.uml.PrimitiveType">
          <popupeditor
                editorConfiguration="org.search.niem.uml.papyrus.editors.PrimitiveTypeNamePopupEditorConfiguration">
          </popupeditor>
          <Priority
                name="Low">
          </Priority>
       </DirectEditor>
       <DirectEditor
             contributor="org.search"
             icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/DataType.gif"
             language="NIEM DataType Name Editor"
             objectToEdit="org.eclipse.uml2.uml.DataType">
          <popupeditor
                editorConfiguration="org.search.niem.uml.papyrus.editors.DataTypeNamePopupEditorConfiguration">
          </popupeditor>
          <Priority
                name="Low">
          </Priority>
       </DirectEditor>
    </extension>
    <!--
    <extension
          point="org.eclipse.papyrus.infra.emf.readonly.readOnlyHandler">
       <readOnlyHandler
             class="org.search.niem.uml.papyrus.editors.readonly.ReferenceSubsetElementHandler"
             id="org.search.niem.uml.papyrus.readonly.ReferenceSubsetElementHandler"
             priority="0"></readOnlyHandler>
    </extension>
    -->
    <extension
          point="org.eclipse.ui.commands">
       <category
             description="%_UI_Papyrus_Editors_Command_Category_description"
             id="org.search.niem.uml.papyrus.editors.commands.category"
             name="%_UI_Papyrus_Editors_Command_Category_label">
       </category>
       <command
             categoryId="org.search.niem.uml.papyrus.editors.commands.category"
             description="%_UI_Update_Subset_Command_description"
             id="org.search.niem.uml.papyrus.editors.commands.updateSubset"
             name="%_UI_Update_Subset_Command_name">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="org.search.niem.uml.papyrus.editors.handlers.UpdateSubset"
             commandId="org.search.niem.uml.papyrus.editors.commands.updateSubset">
       </handler>
    </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="org.search.niem.uml.papyrus.editors.commands.updateSubset"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M2+M3+U U">
       </key>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?endof=editMenu">
          <command
                commandId="org.search.niem.uml.papyrus.editors.commands.updateSubset"
                disabledIcon="icons/full/obj16/update_subset_disabled.png"
                icon="icons/full/obj16/update_subset.png"
                id="org.search.niem.uml.papyrus.editors.popup.updateSubset"
                label="%_UI_Update_Subset_Command_name"
                mnemonic="U"
                style="push"
                tooltip="%_UI_Update_Subset_Command_description">
             <visibleWhen
                   checkEnabled="false">
                <and>
                   <with
                         variable="activePartId">
                      <equals
                            value="org.eclipse.papyrus.infra.core.papyrusEditor">
                      </equals>
                   </with>
                   <count
                         value="1">
                   </count>
                   <with
                         variable="selection">
                      <iterate
                            ifEmpty="false">
                         <or>
                            <instanceof
                                  value="org.eclipse.papyrus.uml.diagram.clazz.edit.parts.ClassEditPart">
                            </instanceof>
                            <instanceof
                                  value="org.eclipse.papyrus.uml.diagram.clazz.edit.parts.PrimitiveTypeEditPart">
                            </instanceof>
                            <instanceof
                                  value="org.eclipse.papyrus.uml.diagram.clazz.edit.parts.EnumerationEditPart">
                            </instanceof>
                            <instanceof
                                  value="org.eclipse.papyrus.uml.diagram.clazz.edit.parts.DataTypeEditPart">
                            </instanceof>
                         </or>
                         <test
                               property="org.search.niem.uml.papyrus.editors.propertyTesters.isInReferenceLibrarySubset">
                         </test>
                      </iterate>
                   </with>
                </and>
             </visibleWhen>
          </command>
       </menuContribution>
    </extension>
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="org.search.niem.uml.papyrus.editors.propertyTesters.IsInReferenceLibrarySubset"
             id="org.search.niem.uml.papyrus.editors.propertyTesters.isInReferenceLibrarySubset"
             namespace="org.search.niem.uml.papyrus.editors.propertyTesters"
             properties="isInReferenceLibrarySubset"
             type="org.eclipse.papyrus.uml.diagram.common.editparts.IUMLEditPart">
       </propertyTester>
    </extension>
    <extension
         point="org.eclipse.papyrus.infra.gmfdiag.dnd.dropStrategy">
       <strategy
            strategy="org.search.niem.uml.papyrus.editors.dnd.ClassifierAsClassifierWithAttributesToAttributeCompartmentDropStrategy">
       </strategy>
    </extension>
</plugin>
