<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://search.org/niem/uml/papyrus/textedit/property/xtext/NiemUmlProperty" 
       class = "org.search.niem.uml.papyrus.textedit.property.xtext.niemUmlProperty.NiemUmlPropertyPackage"
       genModel = "model/generated/NIEMUmlProperty.genmodel" /> 
	
  </extension>

</plugin>
